.text-snippets-cursor > * > textarea, .text-snippets-tabstops > * > textarea, .text-snippets-newline > * > textarea, .text-snippets-delimiter > * > textarea{
  height: 30px;
  padding-top: 2px;
  padding-bottom: 0;
}

.text-snippets-class > * > textarea{
  width:40em;
  height: 100%;
}

.text-snippets-class > div > div {
}

.text-snippets-class > * {
  height: 100%;
  width: 60em;
}

.text-snippets-class {
  height: 70%;
}


.emr-slash-item {
  display: flex;
  border-bottom: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-purple);
  max-height: em;
  overflow: hidden;
}

.emr-slash-title {
  font-weight: bolder;
  color: var(--color-purple);
  margin-right: 5px;
  min-width: 6em;
}

.emr-slash-value {
  opacity: 90%;
  max-width: 20em;
}